* {
  margin-left: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 5px;
}

.App {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.App-cols1 {
  padding: 10px;
}

.App-cols2 {
  padding: 10px;
}

.chatbox {
  padding: 1px;
  height: 500px;
  width: 90%;
  border: 1px solid #000;
  margin-bottom: 20px;
}

.chatbox-input {
  border-radius: 15px;
  height: 40px;
  width: 90%;
  text-align: left;
}

.fileupload {
  padding-top: 10px;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
  background-color: green;
}

.ingestion-button {
  background: #0066a2;
  color: white;
  border-radius: 40px;
  border-color: #0066a2;
  height: 50px;
  width: 200px;
  text-shadow: none;
  font-weight: bold;
  margin-top: 30px;
}

.ingestion-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
