* {
  margin-left: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: left;
}

.chatbox {
  padding: 1px;
}
.chatbox-input {
  border-radius: 15px;
  height: 40px;
  width: 300px;
  text-align: center;
}
